html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: local('HelveticaNeue Thin.ttf'), url('HelveticaNeue Thin.ttf') format('opentype');
}
body {
    font-family: 'Montserrat', sans-serif;
}
* {
   box-sizing: border-box;
}
#main{
    background-image: linear-gradient(rgba(218, 51, 46, 0.6), rgba(218, 51, 46, 0.6)), url('../img/header-background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 40px 20px;
}
.logo{
    float:left;
}
.navbar{
    float:right;
}
.nav li{
    display: inline-block;
}
.nav li a{
    color:white;
    margin-left: 5px;
    border-bottom: 4px solid white transparent;
    text-decoration: none;
    padding-bottom: 3px;
}
.nav li a:hover{
    border-bottom: 4px solid white;
    transition: border-bottom 0.1s, color 0.1s;
}
.imgs{
    float: right;
    position: absolute;
    right: -135px;
}
.cta{

    display: inline-block;
    margin-top: 90px;
}
.mobile-app-img{
    width: 85%;
    position: relative;
    margin-bottom: -240px;
}
h2{
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
}
.info-para{
    font-family: 'HelveticaNeue-Thin';
    font-size:36px;
    color: white;
    line-height: 40px;
    margin-top: 50px;
    margin-bottom: 55px;
}
.cta-button{
    background-color: #282828;
    color: white;
    text-decoration: none;
    padding: 23px 35px;
    border-radius: 50px;
}
.cta-info{
    float: left;
    width: 60%;
    padding-right: 150px;
}
.cta-button-img{
    vertical-align: middle;
    padding-right: 20px;
}
#main h2{
    color: white;
}
